.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    box-sizing: border-box;
}

@media screen and (max-width: 1184px) {
    .photo-grid {
        max-width: 928px;
        row-gap: 14px;
        column-gap: 14px;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 950px) {
    .photo-grid {
        max-width: 720px;
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns: repeat(2, minmax(352px, 1fr));
    }
}

@media screen and (max-width: 750px) {
    .photo-grid {
        max-width: 288px;
        row-gap: 12px;
        column-gap: 12px;
        grid-template-columns: repeat(1, minmax(288px, 1fr));
    }
}
