.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 47px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 0 148px;
}

@media screen and (max-width: 1200px) {
    .lead {
        padding: 0 48px;
        margin-top: 38px;
    }
}

@media screen and (max-width: 900px) {
    .lead {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .lead {
        margin-top: 41px;
    }
}