.header__logo {
    margin: 0;
    padding: 0;
    height: 52px;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
}

@media screen and (max-width: 425px) {
    .header__logo {
        height: 24.4px;
    }
}