.cover__title {
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    line-height: 1.05;
    font-size: 76px;
    font-style: normal;
    text-align: center;
    max-width: 560px;
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 575px) {
    .cover__title {
        line-height: 1.09;
        font-size: 32px;
    }
}